<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<nav th:replace="/layout :: nav"></nav>
<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Danh sách khách hàng</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <form th:action="@{/customers}" method="get" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Tên khách hàng" aria-label="Search"
                       name="nameSearch" th:value="${nameSearch}">
                <input class="form-control me-2" type="search" placeholder="Email khách hàng" aria-label="Search"
                       name="emailSearch" th:value="${emailSearch}">
                <select name="customerTypeId" class="form-select" aria-label="Default select example">
                    <option th:each="customerType : ${customerTypes}" th:value="${customerType.getId()}"
                            th:text="${customerType.getName()}" th:selected="${customerTypeId == customerType.getId()}">
                    </option>
                </select>
                <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
</nav>

<p th:text="${mess}" style="color: red"></p>
<table class="table">
    <thead>
    <th>STT</th>
    <th>Địa chỉ</th>
    <th>Ngày sinh</th>
    <th>Email</th>
    <th>Giới tính</th>
    <th>CMND/CCCD</th>
    <th>Tên khách hàng</th>
    <th>Số điện thoại</th>
    <th>Loại khách</th>
    <th></th>
    <th>Xóa</th>
    </thead>
    <tbody>
    <tr th:each="customer, iState: ${customers}">
        <td th:text="${iState.count}"></td>
        <td th:text="${customer.getAddress()}"></td>
        <td th:text="${customer.getDateOfBirth()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td><span th:text="${customer.isGender() == true} ? 'Nam' : 'Nữ'"></span></td>
        <td th:text="${customer.getIdCard()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getPhoneNumber()}"></td>
        <td th:text="${customer.getCustomerType().getName()}"></td>
        <td>
            <button th:attr="onclick=|getInfoCustomerEdit('${customer.getId()}', '${customer.getName()}',
                                    '${customer.getDateOfBirth()}', '${customer.isGender()}', '${customer.getIdCard()}',
                                    '${customer.getPhoneNumber()}', '${customer.getEmail()}', '${customer.getAddress()}',
                                    '${customer.getCustomerType()}'
                                    )|" type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1">
                Sửa
            </button>
        </td>
        <td>
            <button th:attr="onclick=|getInfoCustomerDelete('${customer.getId()}', '${customer.getName()}')|"
                    type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal3">
                Xóa
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                +
            </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${customers.hasPrevious()}"
               th:href="@{/customers(page=${customers.number -1},nameSearch=${nameSearch},
               emailSearch=${emailSearch},customerTypeId=${customerTypeId})}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" th:href="@{/customers(page=0,nameSearch=${nameSearch},
        emailSearch=${emailSearch},customerTypeId=${customerTypeId})}">1</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/customers(page=1,nameSearch=${nameSearch},
        emailSearch=${emailSearch},customerTypeId=${customerTypeId})}">2</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${customers.hasNext()}"
               th:href="@{/customers(page=${customers.number +1},nameSearch=${nameSearch},
               emailSearch=${emailSearch},customerTypeId=${customerTypeId})}">Next</a>
        </li>
    </ul>
</nav>

<footer th:replace="/layout :: footer"></footer>
<!--Modal create-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Thêm mới khách hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customers/create}" method="post" id="customer" th:object="${customer}">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="VD: Nguyễn Văn An" required th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Ngày sinh</label>
                        <input type="datetime-local" class="form-control" id="birthdate" placeholder="dd/mm/yyyy"
                               th:field="*{dateOfBirth}">

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Giới tính</label><br>
                        <label for="gender1"><input class="ms-3 me-1" checked type="radio" th:field="*{gender}"
                                                    id="gender1" th:value='true'>
                            Nam
                        </label>
                        <label for="gender2"><input class="ms-3 me-1" type="radio" th:field="*{gender}" id="gender2"
                                                    th:value='false'>
                            Nữ
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail2" class="form-label">CCCD/CMND</label>
                        <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
                               placeholder="VD: 13549681324" th:field="*{idCard}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail4" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp"
                               placeholder="VD: 4562317861" th:field="*{phoneNumber}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail5" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp"
                               placeholder="VD: annguyen@gamil.com" th:field="*{email}" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp"
                               placeholder="VD: 22 Yên Bái, Đà Nẵng" th:field="*{address}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Loại khách</label>
                        <select th:field="*{customerType}" class="form-select" aria-label="Default select example">
                            <option th:each="customerType: ${customerTypes}" th:text="${customerType.getName()}"
                                    th:value="${customerType.getId()}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-btn" onclick="checkBirthday()">Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal edit-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa thông tin khách hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customers/update}" method="post" th:object="${customer}">
                    <input type="number" hidden id="id1" th:field="*{id}">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="name1" aria-describedby="emailHelp"
                               placeholder="VD: Nguyễn Văn An" required th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" id="dayOfBirth1" placeholder="1970-11-07"
                               th:field="*{dateOfBirth}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Giới tính</label><br>
                        <label for="gender12"><input class="ms-3 me-1" checked type="radio" th:field="*{gender}"
                                                     id="gender12" th:value='true'>
                            Nam
                        </label>
                        <label for="gender122"><input class="ms-3 me-1" type="radio" th:field="*{gender}" id="gender122"
                                                      th:value='false'>
                            Nữ
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail2" class="form-label">CCCD/CMND</label>
                        <input type="text" class="form-control" id="idCard1" aria-describedby="emailHelp"
                               placeholder="VD: 13549681324" th:field="*{idCard}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail4" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneNumber1" aria-describedby="emailHelp"
                               placeholder="VD: 4562317861" th:field="*{phoneNumber}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail5" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email1" aria-describedby="emailHelp"
                               placeholder="VD: annguyen@gamil.com" th:field="*{email}" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="address1" aria-describedby="emailHelp"
                               placeholder="VD: 22 Yên Bái, Đà Nẵng" th:field="*{address}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail6" class="form-label">Loại khách</label>
                        <select th:field="*{customerType}" class="form-select" aria-label="Default select example">
                            <option th:each="customerType: ${customerTypes}" th:text="${customerType.getName()}"
                                    th:value="${customerType.getId()}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel3">Xóa khách hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customers/delete}" method="post">
                    <input hidden id="idDelete" name="idDelete">
                    <span>
                        Bạn có chắc chắn muốn xóa <span style="color: red" id="nameDelete"></span>
                    </span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-primary">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getInfoCustomerEdit(id, name, dayOfBirth, gender, idCard, phoneNumber, email, address, customerType) {
        document.getElementById("id1").value = id;
        document.getElementById("name1").value = name;
        document.getElementById("dayOfBirth1").value = dayOfBirth;
        document.getElementById("idCard1").value = idCard;
        document.getElementById("phoneNumber1").value = phoneNumber;
        document.getElementById("email1").value = email;
        document.getElementById("address1").value = address;
    }

    function getInfoCustomerDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }

    //Kiểm tra định dạng ngày giờ của ngày sinh
    function validateDate(dateString) {
        // Kiểm tra định dạng ngày giờ
        var regex = /^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$/;
        if (!regex.test(dateString)) {
            return false;
        }

        // Chuyển đổi thành đối tượng Date
        var date = new Date(dateString);

        // Kiểm tra tính hợp lệ của đối tượng Date
        if (isNaN(date.getTime())) {
            return false;
        }

        return true;
    }

    //Kiểm tra định dạng ngày sinh và tính hợp lệ
    function checkBirthday() {
        var birthdate = $("#birthdate").val();
        if (!validateDate(birthdate)) {
            alert("Ngày sinh không hợp lệ!");
        } else {
            var birthYear = new Date(birthdate).getFullYear();
            var currentYear = new Date().getFullYear();
            var age = currentYear - birthYear;
            var birthdateThisYear = new Date(currentYear, new Date(birthdate).getMonth(), new Date(birthdate).getDate());
            if (new Date() < birthdateThisYear) {
                age--;
            }
            if (age > 90) {
                alert("Tuổi của bạn đã quá giới hạn so với quy định (<=90)");
            } else if (age < 18) {
                alert("Bạn chưa đủ 18 tuổi");
            } else {
                $("#customer").submit();
            }
        }
    }

</script>
</html>