<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<navbar th:replace="/layout :: navbar"></navbar>
<h1>List smartphone</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new smartphone
</button>
<p th:text="${mess}"></p>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name smartphone</th>
        <th>Brand</th>
        <th>Prices</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="smartphone, iState : ${smartphones}">
        <td th:text="${iState.count}"></td>
        <td th:text="${smartphone.getId()}"></td>
        <td th:text="${smartphone.getName()}"></td>
        <td th:text="${smartphone.getBrand()}"></td>
        <td th:text="${smartphone.getPrice()}"></td>
        <td>
            <a th:href="@{/smartphone/edit/{id}(id=${smartphone.getId()})}">
                <button type="submit" class="btn btn-warning">
                    Edit
                </button>
            </a>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1"
            th:onclick="|info('${smartphone.getId()}','${smartphone.getName()}')|">
                Delete
            </button>
        </td>
        <td>
            <a th:href="@{/smartphone/view/{id}(id=${smartphone.getId()})}">
                <button type="submit" class="btn btn-success">
                    View
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>

<!--Modal create-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create smartphone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/smartphone/create}" th:object="${smartphone}" method="post">
                    <div class="mb-3">
                        <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name smartphone</label>
                        <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail2"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Brand</label>
                        <input type="text" th:field="*{brand}" class="form-control" id="exampleInputEmail3"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Prices</label>
                        <input type="text" th:field="*{price}" class="form-control" id="exampleInputEmail0"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal delete-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Delete smartphone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/smartphone/delete" method="get">
                    <input hidden type="number" id="idDelete" name="idDelete">
                    <span>
                        Bạn có chắc chắn muốn xóa <span style="color: red" id="nameDelete"></span>
                    </span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    function info(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>
</html>